<div class="searchbar">
  <!--Sidebar content-->
  <p>
    <span>Search :</span>
    <input ng-model="$ctrl.query" />
  </p>

  <p>
    <span>Sort by :</span> 
    <select ng-model="$ctrl.orderProp">
      <option value="id">Id</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="emailId">Email</option>
    </select>
  </p>
</div>

<div class="row-2">
  <div class="col-md-8">
    <div class="table-data">
      <a href="#!/employees" class="btn">Add Employee</a>
      <!--Body content-->
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Age</th>
            <th>First Name</th>
            <th>LastName</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employee in employees | filter:$ctrl.query | orderBy:$ctrl.orderProp" ng-click="clicked(employee)">
            <td>{{employee.id}}</td>
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <employee-detail></employee-detail>
  </div>
</div>

